@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <img src="~/Pictures/wallpaper-kids-6.jpg" width="1020" height="700"/> 
    <h1>Ice Age</h1>
    <p class="lead">Ice Age er en amerikansk computer-animerede film fra 2002, lavet af Blue Sky Studios og udgivet af 20th Century Fox. Den blev instrueret af Carlos Saldanha og Chris Wedge efter en historie af Michael J. Wilson.</p>
    <p><a href="https://da.wikipedia.org/wiki/Ice_Age" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top Movies</h2>
        <p>
            With a worldwide box-office gross of over $2.7 billion, Avatar is often proclaimed to be the "highest-grossing" film, but such claims 
            usually refer to theatrical revenues only and do not take into account home video and television 
            income, which can form a significant portion of a film's earnings. Once revenue from home 
            entertainment is factored in it is not immediately clear which film is the most successful. 
            
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_highest-grossing_films">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Children´s Films</h2>
        <p>A children's film, or family film, is a film genre that contains children or relates to them in the 
        context of home and family. Children's films are made specifically for children and not necessarily for 
        the general audience, while family films are made for a wider appeal with a general audience in mind.
        Children's films come in several major forms like realism, fantasy, adventure, animation, war, musicals, 
        and literary adaptations.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Children%27s_film">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Grandma Films</h2>
        <p>Grandma is a 2015 American comedy-drama film written, produced, and directed by Paul Weitz. It stars Lily Tomlin as Elle, a widow whose teenage 
        granddaughter (played by Julia Garner) visits her to ask for money for an abortion. Over the space of a 
        day, they visit numerous people from Elle's past to call in favors in an effort to raise the money.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>